<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<center>
			<h1><code>중고 거래 서비스</code></h1>
			</center>
			<br>
			<center>
			<h5>"사람들이 보다 더 쉽고 편리하게 중고물품을 거래할 수 있게하자!"</h5><br>
			</center>
		</header>
		<center>
		<a href="https://likelion.net/">#중고나라 같은 곳</a>
		<a href="https://likelion.net/">#어디 없을까?</a><br>
		<a href="https://likelion.net/">#중고거래 하는 곳</a>
		<a href="https://likelion.net/">#어디 없을까?</a><br>
		<a href="https://likelion.net/">#멋쟁이사자처럼</a>
		<a href="https://likelion.net/">#중고거래</a>
		<a href="https://likelion.net/">#해커톤</a><br>
		<p><a href="https://www.facebook.com/likelionKangnam/?fref=ts">#강남대학교 5기 제작</a></p>
		</center>

		
		<ul class="actions">
			<center>
			<li><a href="#" class="button big">더 알아보기</a></li>
			</center>
		</ul>
	</div>
				
	<span class="image object">
		<%= image_tag "http://www.service-21.net/images/tercer%20paso.jpg" %>
	</span>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>서비스 소개</h2>
	</header>
	
	<div class="features">
		<article>
			<span class="icon fa-diamond"></span>
			<div class="content">
				<h3>루비 온 레일즈 </h3>
				<p> 이 홈페이지는 동적 객체 지향 스크립트 프로그래밍 언어인 <Strong>Ruby On Rails</Strong> 기반으로 제작이 되었습니다.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-paper-plane"></span>
			<div class="content">
				<h3>편리한 서비스</h3>
				<p>보기 쉬운 카테고리, 심플화 된 디자인으로 이용하기 쉬운 서비스 등으로 초심자에게도 이용하기 쉬운 홈페이지로 <strong>최적화</strong> 되어있습니다.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-rocket"></span>
			<div class="content">
				<h3>유비쿼터스 서비스</h3>
				<p><strong>어디서나 존재하는</strong> 을 의미하는 유비쿼터스(Ubiquitous)처럼 전국 어디에서 손쉽게 접속하고, 이용할 수 있습니다. </p>
			</div>
		</article>
		<article>
			<span class="icon fa-signal"></span>
			<div class="content">
				<h3>맞춰가는 서비스</h3>
				<p>이 홈페이지는 제작자 중심이 아닌 <strong>사용자에게</strong> 포커스를 맞춰 개발되었으며, 계속하여 업데이트 중입니다.</p>
			</div>
		</article>
	</div>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>전체 게시판</h2>
	</header>
	<div class="posts">
		<article>
			<a href="https://team-project-pminy.c9users.io/posts/6" class="image"><span class="img"><%= image_tag "p1.jpg" %></span></a>
			<h3>아이언맨 마우스</h3>
			<p>아이언맨 무선 마우스에요!! 얼마쓰지 않아서 거의 새거에요 관심있으신 분은 연락주세요 010-****-**** </p>
			<ul class="actions">
				<li><a href="https://team-project-pminy.c9users.io/posts/6" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="https://team-project-pminy.c9users.io/posts/7" class="image"><span class="img"><%= image_tag "p2.jpg" %></span></a>
			<h3>갤럭시 스마트폰</h3>
			<p>3개월 사용했고, 전화 문자만 사용해서 때안타고 깨끗합니다! 싸게 드릴게요 010-***-**** </p>
						
			<ul class="actions">
				<li><a href="https://team-project-pminy.c9users.io/posts/7" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="https://team-project-pminy.c9users.io/posts/8" class="image"><span class="img"><%= image_tag "p3.jpg" %></span></a>
			<h3>블랙 모자</h3>
			<p>여름에는 간지템 검은 캡 하나 있어야죠? 브랜드 명품 검은 캡 하나 보여드릴게요 물품은 3개 있으니 선착순으로 판매 도와드릴게요!!</p>
						
			<ul class="actions">
				<li><a href="https://team-project-pminy.c9users.io/posts/8" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="https://team-project-pminy.c9users.io/posts/9" class="image"><span class="img"><%= image_tag "p4.jpg" %></span></a>
			<h3>입생로랑 파우치</h3>
			<p>t입생로랑 정품입니다! 전남자친구에게 받은 선물입니다. 얼마 쓰지 않고 바로 헤어졌어요 그래서 판매합니다! 많은 관심을 저에게 주세요ㅎㅎㅎㅎ 특히 남성분들의 연락을 기다리겠습니다. 010-****-**** 앙♡ #</p>
			<ul class="actions">
				<li><a href="https://team-project-pminy.c9users.io/posts/9" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="https://team-project-pminy.c9users.io/posts/10" class="image"><span class="img"><%= image_tag "p5.jpg" %></span></a>
			<h3>스타벅스 텀블러</h3>
			<p>새벽 7시부터 줄서서 구매한 한정판 텀블러에요 무더운 여름에 시원한 아이스 아메리카노로 머리를 식혀보세요 2017 벚꽃 에디션 한정판 텀블러로 많이 볼 수 없어요 놓치면 후회하실 거에요 아 그리고 제 립스틱 자국이 묻어있으니까 참고 바래요 많은 
			관심 바랍니다! 010-****-**** </p>
											
			<ul class="actions">
				<li><a href="https://team-project-pminy.c9users.io/posts/10" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="https://team-project-pminy.c9users.io/posts/11" class="image"><span class="img"><%= image_tag "p6.jpg" %></span></a>
			<h3>샤오미 보조 배터리</h3>
			<p>진하지않고 촌스럽지않은 자연스러운 레드빛깔 케이스를 가진 정품 샤오미 보조 배터리 10000mah 로 3번 꽉꽉 충전할 수 있어요 관심있는 분은 연락주세요~~ </p>
						
			<ul class="actions">
				<li><a href="https://team-project-pminy.c9users.io/posts/11" class="button">More</a></li>
			</ul>
		</article>
	</div>
</section>
	