<p id="notice"><%= notice %></p>

<p>
  <strong>제목:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>내용:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>게시물 번호:</strong>
  <h4><%= @post.id %>번</h4>
</p>

<p>
  <strong>사진:</strong>
  <%= image_tag("#{@post.image}") %>
</p>



<%= link_to '수정', edit_post_path(@post) %> |
<%= link_to '돌아가기', posts_path %>
