<!-- Sidebar -->
<div id="sidebar">
    
    <% if user_signed_in? %>
	    <section>
		    <%= render "common/profile" %>
	    </section>
	<% else %>
	    <section>
	        <%= render "common/login" %>
	    </section>
	<% end %>
		
	<div class="inner">
	
		<!-- Search -->
        <section id="search" class="alt">
    	    <form method="get" action="/home/search">
    		    <input type="text" name="query" id="query" placeholder="검색하기" />
    	    </form>
    	</section>
    
        <!-- Menu -->
    	<nav id="menu">
    		<header class="major">
    		    <h2><code>MENU</code></h2>
    		</header>
    	    <ul>
    		    <li><a href="/">홈페이지 바로가기</a></li>
    			<li><a href="/home/generic"><code>개발 컴포넌트</code></a></li>
    			<li><a href="/home/elements"><code>개발 컴포넌트</code></a></li>
    			<li><a href="/posts">중고 거래 게시판</a></li>
    		    <li>
    				<span class="opener"><code>카테고리</code></span>
    			    <ul>
    			        <li><a href="/post"><code>개발 중</code></a></a></li>
    			        <li><a href="#"><code>개발 중</code></a></li>
    					<li><a href="#"><code>개발 중</code></a></li>
    					<li><a href="#"><code>개발 중</code></a></li>
    					<li><a href="#"><code>개발 중</code></a></li>
    			    </ul>
    			</li>
    			<li><a href="#"><code>개발 중</code></a></li>
    			<li><a href="#"><code>개발 중</code></a></li>
    			<li>
    				<span class="opener"><code>개발 중</code></span>
    				<ul>
    				    <li><a href="#"><code>개발 중</code></a></li>
    					<li><a href="#"><code>개발 중</code></a></li>
    					<li><a href="#"><code>개발 중</code></a></li>
    					<li><a href="#"><code>개발 중</code></a></li>
    				</ul>
    			</li>
    			<li><a href="#"><code>개발 중</code></a></li>
    			<li><a href="#"><code>개발 중</code></a></li>
    			<li><a href="#"><code>개발 중</code></a></li>
    		</ul>
    	</nav>
    
    	<!-- Section -->
    	<section>
    		<header class="major">
    			<h2>HOT ITEM</h2>
    		</header>
    		<div class="mini-posts">
    			<article>
    				<a href="https://team-project-pminy.c9users.io/posts/9" class="image"><%= image_tag "p4.jpg" %></a>
    				<center>
    				<p><code>입생로랑 파우치</code></p>
    				</center>
    			</article>
    			<article>
    				<a href="https://team-project-pminy.c9users.io/posts/8" class="image"><%= image_tag "p3.jpg" %></a>
    				<center>
    				<p><code>블랙 햇</code></p>
    				</center>
    			</article>
    			<article>
    				<a href="https://team-project-pminy.c9users.io/posts/11" class="image"><%= image_tag "p6.jpg" %></a>
    				<center>
    				<p><code>샤오미 정품 보조 배터리</code></p>
    				</center>
    			</article>
    			<br>
    		</div>
    		<ul class="actions">
    			<center>
    			<li><a href="https://team-project-pminy.c9users.io/posts" class="button">게시판 보러가기</a></li>
    			</center>
    		</ul>
    	</section>
    
    	<!-- Section -->
    	<section>
    		<header class="major">
    		    <h2><code>LIKELION HACKERTON</code></h2>
    		</header>
    		
    		<p><strong>2017.08.18~19 WEBSITE DEVELOP <br>WITH KANGNAM LIKELION</strong></p>
    		<ul class="contact">
    			<li class="fa-envelope-o"><a href="#"><strong>likelion.org</strong></a></li>
    			<li class="fa-phone">(000) 000-0000</li>
    			<li class="fa-home"><strong>강남대학교</strong><br />
    								멋쟁이사자처럼</li>
    		</ul>
    	</section>
    	
    	<!-- Footer -->
        <footer id="footer">
	        <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    
    </div>
</div>